<%= form_with(model: employment) do |form| %>

  <div>
    <%= form.label :employer, style: "display: block" %>
    <%= form.text_field :employer, style: 'border: 2px solid #555;', required: true, placeholder: "employer Name" %>
  </div>

   <br>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date, style: 'border: 2px solid #555;', required: true %>
  </div>

   <br>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.datetime_field :end_date, style: 'border: 2px solid #555;', required: true %>
  </div>

   <br>

  <div>
    <%= form.submit :class => "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
