<div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <div id="<%= dom_id detail %>">
    <p>
      <strong>first_name:</strong>
      <%= detail.first_name %>
    </p>

    <p>
      <strong>last_name:</strong>
      <%= detail.last_name %>
    </p>

    <p>
      <strong>nick_name:</strong>
      <%= detail.nick_name %>
    </p>

    <p>
      <strong>email_address:</strong>
      <%= detail.email_address %>
    </p>

    <p>
      <strong>phone_number:</strong>
      <%= number_to_phone(detail.phone_number) %>
    </p>

  </div>
 </div>