<p style="color: green"><%= notice %></p>
<br>
<br>
<%= link_to "New details", new_detail_path, data:{turbo_frame: "modal", class: "rounded-lg"}, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"%>



<%= link_to "New employment", new_employment_path, data:{turbo_frame: "modal", class: "rounded-lg"}, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
<br>
<br>
<div class="flex justify-center">
<br>
  <div>
    <h1 class="text-3xl font-bold underline">Details</h1>
  <br>
    <div id="details" >
      <% @details.each do |detail| %>
        <%= render detail %>
        <br>
        <p>
          <%= link_to "Show this detail", detail, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"  %>
        </p>
        <br>
      <% end %>
    </div>
  </div>  
  <br>
  <div>
    <h1 class="text-3xl font-bold">Employments</h1>
      <br>
    <div id="employments">
      <% @employments.each do |employment| %>
        <%= render employment %>
        <br>
        <p>
          <%= link_to "Show this employment", employment, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"  %>
        </p>
        <br>
      <% end %>
    </div>
  </div>  
</div>
<br>

